<h1>Edit this portfolio item</h1>
<%= form_for(@portfolio_item) do |form| %>
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Title" %>
</div>
<div class="field">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle %>
</div>
<div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
</div>
<div class="field">
    <%= form.label :main_image %>
    <%= form.text_field :main_image, placeholder: "Portfolio Image" %>
</div>
<div class="field">
    <%= form.label :thumb_image %>
    <%= form.text_field :thumb_image, placeholder: "Thumb Image" %>
</div>
<div class="actions">
    <%= form.submit %>
</div>
<% end %>
